{% block subject %}
{% endblock %}


<html>
	<head>
		<link href="/assets/css/css.css" rel="stylesheet">
	</head>
	<body>
	{% block content %}
	{% endblock %}
	</body>
</html>

{% block body_text %}
    This is the text body.
{% endblock %}