{% extends "main.template.html.twig" %}
{% block content %}
<div class="span10 user-posts">
  <div class="container-fluid">
    <div class="posts-title">
      <span class="title-text">Feed</span>
      <p>Go to a group page (in the sidebar) to make a new post.</p>
    </div>
  </div>
  <div class="posts-contents">
    <!-- Begin twig content template -->
  {% for gpost in feed %}
      {% block post %}
      {% include 'post.template.html.twig' %}
      {% endblock %}
  {% endfor %}
{% endblock %}
