{% extends "main.template.html.twig" %}
{% block content %}
<div class="span10 user-posts">
  <div class='container-fluid'>
    <div class="posts-title">
      <img class='group-icon' src='{{ group.image }}' /><span class='title-text'>{{ group.name }}</span>
      <a id='follow-btn' class="post-btn btn disabled title-action" onclick='followGroup()'>{% if current_user.is_member(group) %} unfollow group {% else %}follow group{% endif %}</a>
      <a class="post-btn btn title-action actual-post-button" onclick='showReplySelector(this,1)'>+ post</a>
      {% if current_user.owns_group(group) %}
      <a href="/g/{{ group.link_name }}/settings.bread" class="post-btn btn title-action">Settings</a>
      {% endif %}
      {% if group.description %}
      <span style='display:block' class='subtitle'>{{ group.description }}</span>
      {% endif %}
    </div>
  </div>
  <div class="posts-contents">
  {% if group.get_newsfeed_posts() | length < 1 %}
  <div class='post-container' style='margin-left: 20px'><p>There are no posts right now. Click the post button to post above something awesome!</p></div>
  {% endif %}
  {% for gpost in group.get_newsfeed_posts() %}
  {% block post %}
  {% set is_group_page = 1 %}
  {% include 'post.template.html.twig' %}
  {% endblock %}
  {% endfor %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/assets/js/read.js"></script>
{% endblock %}

