<?php

include('header.php');
?>

<div class="container">
  <div class="row-fluid">
    <div class="span2 user-sidebar">
      <div class="sidebar-nav">
        <ul class="nav nav-list user-actions">
          <li><div class='user-icon-med'><img src="assets/img/user.png"></div></li>
          <li><a href="#">Followers <span class='user-actions-count'>(23)</span></a></li>
          <li><a href="#">Following <span class='user-actions-count'>(23)</span></a></li>
        </ul>
      </div>
    </div>

    
    <div class="span10 user-posts">

      <div class='container-fluid'>
        <div class="posts-title">
          <span class='title-text'>Paul Cretu</span><a href="#" class="btn disabled title-action">+ follow</a>
        </div>
        <div class="posts-contents">

          <div class='post-container'>
            <div class='container-fluid'>
              <a class='post-title' href='#'>How do I make cheese with my bear hands?</a><span class='post-delimiter'>//</span><a class='post-topic' href='#'>Cheese</a>
              <div>
                <div class='post-voting'>
                  <div class='upvote'>Ʌ</div>
                  <div class='downvote'>V</div>
                </div>
                <div class='container-fluid post-body'>
                  I've always wanted to know what it'd be like to put on my bear hands and make Swiss Cheese. It's #9 on my bucket list but
                  I am not a cheese maker even though I am Romanian and Romania is really known for its cheese and its gyspies and gypsy-cheese. My question
                  is that when making the cheese do you prefer using goat or ostrich milk? What is better for color?       
                  <div class='container-fluid post-footer'>
                    <li><a class='post-username' href='user.php'>Paul Cretu</a></li>
                    <li><span class='post-timestamp'>15 minutes ago</span></li>
                    <li><a href='#'><i class="post-icon icon-pencil"></i></a></li>
                    <li><a href='#'><i class="post-icon icon-random"></i></a></li>
                    <li><a href='#'><i class="post-icon icon-comment"></i></a></li> 
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class='post-container'>
            <div class='container-fluid'>
              <a class='post-title' href='#'>How do I make cheese with my bear hands?</a><span class='post-delimiter'>//</span><a class='post-topic' href='#'>Cheese</a>
              <div>
                <div class='post-voting'>
                  <div class='upvote'>Ʌ</div>
                  <div class='downvote'>V</div>
                </div>
                <div class='container-fluid post-body'>
                  I've always wanted to know what it'd be like to put on my bear hands and make Swiss Cheese. It's #9 on my bucket list but
                  I am not a cheese maker even though I am Romanian and Romania is really known for its cheese and its gyspies and gypsy-cheese. My question
                  is that when making the cheese do you prefer using goat or ostrich milk? What is better for color?       
                  <div class='container-fluid post-footer'>
                    <li><a class='post-username' href='user.php'>Paul Cretu</a></li>
                    <li><span class='post-timestamp'>15 minutes ago</span></li>
                    <li><a href='#'><i class="post-icon icon-pencil"></i></a></li>
                    <li><a href='#'><i class="post-icon icon-random"></i></a></li>
                    <li><a href='#'><i class="post-icon icon-comment"></i></a></li> 
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class='post-container'>
            <div class='container-fluid'>
              <a class='post-title' href='#'>How do I make cheese with my bear hands?</a><span class='post-delimiter'>//</span><a class='post-topic' href='#'>Cheese</a>
              <div>
                <div class='post-voting'>
                  <div class='upvote'>Ʌ</div>
                  <div class='downvote'>V</div>
                </div>
                <div class='container-fluid post-body'>
                  I've always wanted to know what it'd be like to put on my bear hands and make Swiss Cheese. It's #9 on my bucket list but
                  I am not a cheese maker even though I am Romanian and Romania is really known for its cheese and its gyspies and gypsy-cheese. My question
                  is that when making the cheese do you prefer using goat or ostrich milk? What is better for color?       
                  <div class='container-fluid post-footer'>
                    <li><a class='post-username' href='user.php'>Paul Cretu</a></li>
                    <li><span class='post-timestamp'>15 minutes ago</span></li>
                    <li><a href='#'><i class="post-icon icon-pencil"></i></a></li>
                    <li><a href='#'><i class="post-icon icon-random"></i></a></li>
                    <li><a href='#'><i class="post-icon icon-comment"></i></a></li> 
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class='post-container'>
            <div class='container-fluid'>
              <a class='post-title' href='#'>How do I make cheese with my bear hands?</a><span class='post-delimiter'>//</span><a class='post-topic' href='#'>Cheese</a>
              <div>
                <div class='post-voting'>
                  <div class='upvote'>Ʌ</div>
                  <div class='downvote'>V</div>
                </div>
                <div class='container-fluid post-body'>
                  I've always wanted to know what it'd be like to put on my bear hands and make Swiss Cheese. It's #9 on my bucket list but
                  I am not a cheese maker even though I am Romanian and Romania is really known for its cheese and its gyspies and gypsy-cheese. My question
                  is that when making the cheese do you prefer using goat or ostrich milk? What is better for color?       
                  <div class='container-fluid post-footer'>
                    <li><a class='post-username' href='user.php'>Paul Cretu</a></li>
                    <li><span class='post-timestamp'>15 minutes ago</span></li>
                    <li><a href='#'><i class="post-icon icon-pencil"></i></a></li>
                    <li><a href='#'><i class="post-icon icon-random"></i></a></li>
                    <li><a href='#'><i class="post-icon icon-comment"></i></a></li> 
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class='post-container'>
            <div class='container-fluid'>
              <a class='post-title' href='#'>How do I make cheese with my bear hands?</a><span class='post-delimiter'>//</span><a class='post-topic' href='#'>Cheese</a>
              <div>
                <div class='post-voting'>
                  <div class='upvote'>Ʌ</div>
                  <div class='downvote'>V</div>
                </div>
                <div class='container-fluid post-body'>
                  I've always wanted to know what it'd be like to put on my bear hands and make Swiss Cheese. It's #9 on my bucket list but
                  I am not a cheese maker even though I am Romanian and Romania is really known for its cheese and its gyspies and gypsy-cheese. My question
                  is that when making the cheese do you prefer using goat or ostrich milk? What is better for color?       
                  <div class='container-fluid post-footer'>
                    <li><a class='post-username' href='user.php'>Paul Cretu</a></li>
                    <li><span class='post-timestamp'>15 minutes ago</span></li>
                    <li><a href='#'><i class="post-icon icon-pencil"></i></a></li>
                    <li><a href='#'><i class="post-icon icon-random"></i></a></li>
                    <li><a href='#'><i class="post-icon icon-comment"></i></a></li> 
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class='post-container'>
            <div class='container-fluid'>
              <a class='post-title' href='#'>How do I make cheese with my bear hands?</a><span class='post-delimiter'>//</span><a class='post-topic' href='#'>Cheese</a>
              <div>
                <div class='post-voting'>
                  <div class='upvote'>Ʌ</div>
                  <div class='downvote'>V</div>
                </div>
                <div class='container-fluid post-body'>
                  I've always wanted to know what it'd be like to put on my bear hands and make Swiss Cheese. It's #9 on my bucket list but
                  I am not a cheese maker even though I am Romanian and Romania is really known for its cheese and its gyspies and gypsy-cheese. My question
                  is that when making the cheese do you prefer using goat or ostrich milk? What is better for color?       
                  <div class='container-fluid post-footer'>
                    <li><a class='post-username' href='user.php'>Paul Cretu</a></li>
                    <li><span class='post-timestamp'>15 minutes ago</span></li>
                    <li><a href='#'><i class="post-icon icon-pencil"></i></a></li>
                    <li><a href='#'><i class="post-icon icon-random"></i></a></li>
                    <li><a href='#'><i class="post-icon icon-comment"></i></a></li> 
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div> 
  </div>
</div>

<?php 
include('footer.php');
?>
